* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

body {
    font-family: abel;
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: whitesmoke;
    justify-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carousel_horizontal {
    padding: 2%;

    @media (max-width: 600px) and (max-width: 1px) {
        display: none;
    }
}

.plantitas{
    padding: 2%;
    max-width: 100vw;
}

