
*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

body {
    font-family: abel;
    height: max-content;
    background-color: whitesmoke;
    justify-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carousel_horizontal {
    padding: 2%;
    width: 75%;
    align-self: center;

    @media (max-width: 600px) and (max-width: 1px) {
        display: none;
    }
}


