* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

body {
    font-family: abel;
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: whitesmoke;
    justify-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carousel_horizontal {
    padding: 2%;

    @media (max-width: 600px) and (max-width: 1px) {
        display: none;
    }
}

.titulo {
    padding-top: 80px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: $color-titulos;
    background-size: cover;
    background-image: url(../Img/Exterior0.jpg);
    background-position: center;
    box-shadow: $box-shadow-bottom-only;

    @include xm-device {
        padding: 20px;
        color: whitesmoke;
        font-size: 50px;
    }
}

.titulo--interior {
    @extend .titulo;
    background-image: url(../Img/indoor.jpg);
}

.titulo--iluminacion {
    display: flex;
    padding-left: 50px;
    text-align: left;
    font-size: 35px;
    color: rgb(29, 28, 28);
    background-color: $color-titulos;
    padding: $step;

    @include xm-device {
        font-size: $step * 1.6;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.titulo__form {
    font-size: x-large;
    text-align: center;
    background-color: $color-3;
    width: 100vw;
    color: $color-fondo;
    padding: $step;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;

    .formulario__cuerpo1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: $step * 2;
        border-radius: 10px;
        font-size: larger;
        width: 50%;
        box-shadow: $box-shadow;

        input {
            width: 100%;
        }

        @include xm-device {
            width: 100%;
            font-size: 14px;
        }

        @include tablet {
            width: 75%;
        }
    }
}

.formulario__cuerpo2 {
    @extend .formulario__cuerpo1;
    align-content: space-between;
    flex-direction: row;
    padding: 30px;
    list-style: none;
}

.boton {
    display: flex;
    justify-content: center;
    width: 50%;
    height: fit-content;
    font-style: bold;
    font-family: abel;
    background-color: $color-gris;
    border: none;
    cursor: pointer;

    input {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
    }
}

.mapa {
    display: flex;
    flex-direction: column;
    background-color: $color-gris;
    align-items: center;

    iframe {
        padding: 2%;

        @include xm-device {
            max-width: 95vw;
        }
    }
}

.titulo--macetas {
    @extend .titulo;
    background-image: url(../Img/FONDO2.jpg);
    box-shadow: none;
    color: $color-secundario;
  }