body {
  font-family: abel;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: whitesmoke;
  max-height: 100%;
  justify-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(../Img/fondo.jpg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}
header .logo {
  grid-area: logo;
  background: url(logo.png);
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.25));
  z-index: 2;
  margin-top: 100px;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  header .logo {
    max-width: 300px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 320px) {
  header .logo {
    width: 100px;
    height: 100px;
    max-height: 100px;
  }
}
@media screen and (max-width: 400px) {
  header .logo {
    margin-top: 16px;
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  header .logo {
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
    margin: 2%;
  }
}
header .busqueda {
  border-radius: 27px;
  border-style: solid;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 1rem;
}
header .descripcion {
  position: relative;
  font-style: normal;
  font-size: 20px;
  font-weight: 1em;
  font-family: abel;
  padding: 2%;
}

nav {
  grid-area: nav;
  background-image: url();
  background-color: #ffc107;
  display: grid;
  grid-template-areas: "exterior interior logo macetas contacto";
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 2%;
  font-family: abel;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
}
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    text-justify: distribute;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
  }
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  box-shadow: none;
  color: #212529;
  font-size: 20px;
  font-family: abel;
  width: auto;
  height: auto;
  padding: 5px;
  box-shadow: none;
}
nav a:hover {
  color: whitesmoke;
}
nav a .inicio {
  grid-area: inicio;
}
nav a .exterior {
  grid-area: exterior;
}
nav a .interior {
  grid-area: interior;
}
nav a .macetas {
  grid-area: macetas;
}
nav a .contacto {
  grid-area: contacto;
}
@media screen and (max-width: 600px) {
  nav a {
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
}

footer {
  grid-area: footer;
  position: relative;
  margin-top: auto;
  margin-bottom: 0px;
  width: 100%;
}
footer #pie {
  background-color: rgb(210, 157, 8);
  text-align: center;
  padding: 0.5%;
  font-weight: 1rem;
  font-family: abel;
}
footer #redes {
  background-color: rgba(203, 187, 147, 0.66);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
footer #redes ul {
  margin: 0;
  padding: 0;
}
footer #redes ul li {
  list-style: none;
  padding: 5px;
}
footer #redes ul li a {
  padding: 5px;
}

.carousel {
  padding: 2%;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
img.img-fluid {
  padding: 10px;
}

/*plantas de interior/exterior*/
.titulo__h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: rgba(190, 181, 25, 0.5);
  background-size: cover;
  background-image: url(/Img/Exterior.jfif);
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
}

.titulo__h1_interior {
  background-image: url(../Img/indoor.jpg);
  padding-top: 80px;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  background-color: rgba(203, 187, 147, 0.66);
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
}

.titulo_h2 {
  display: flex;
  margin-top: 1%;
  padding-left: 50px;
  text-align: left;
  font-size: 35px;
  color: rgb(29, 28, 28);
  background-color: rgba(190, 181, 25, 0.5);
  padding: 16px;
}

.contenedor_galeria {
  display: grid;
  grid-template-areas: "descripcion_galeria contenedor_foto contenedor_foto" "descripcion_galeria contenedor_foto contenedor_foto" "descripcion_galeria contenedor_foto contenedor_foto";
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1%;
}

.descripcion_galeria {
  grid-area: descripcion_galeria;
  font-family: abel;
  font-size: 19px;
  background-image: url(/Img/FONDO2.jpg);
}

.contenedor_foto {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contenedor_foto h6 {
  margin-top: 15px;
  font-size: 16px;
}

.galeria__image {
  padding: 2%;
  width: 100%;
  min-width: 250px;
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
}
.galeria__image:hover {
  opacity: 100%;
}

.caracteristicas__plantas {
  text-align: left;
  font-size: small;
}

/*formulario*/
.titulo__form {
  font-size: x-large;
  text-align: center;
  background-color: whitesmoke;
  padding: 2%;
}

.mapa__ubicacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 16px;
  background-color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.formulario__cuerpo1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 10px;
  font-size: larger;
  width: 50%;
}

.formulario__cuerpo2 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  border-radius: 10px;
  font-size: larger;
  list-style: none;
  width: 50%;
}

.domicilio_items {
  padding: 2%;
}

/*macetas*/
.galeria_macetas {
  padding: 2%;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px 0px;
}
.galeria_macetas:hover {
  opacity: 100%;
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/*media*/
@media screen and (max-width: 600px) {
  .busqueda {
    display: none;
  }
}
@media screen and (max-width: 600px) and (min-width: 768px) {
  .busqueda {
    max-width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .contenedor_galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .contenedor_foto {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .descripcion {
    font-size: 16px;
    margin-top: 15px;
  }
  .descripcion_galeria {
    font-size: 16px;
  }
  .mapa .interior .exterior .tips {
    max-width: 20px;
    font-size: 16px;
  }
  .busqueda {
    display: none;
  }
  .contenedor_galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .contenedor_foto {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .mapa .interior .exterior .contacto {
    max-width: 20px;
    font-size: 12px;
  }
  .busqueda {
    display: none;
  }
  .contenedor_galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .contenedor_foto {
    max-width: 300px;
  }
}
@font-face {
  font-family: beyond;
  src: url(/fonts/beyond_the_mountains.ttf);
}
/*# sourceMappingURL=estilos.css.map */
/*# sourceMappingURL=estilos.css.map */

/*# sourceMappingURL=style.css.map */
